[submodule "bats/bats"]
	path = bats/bats
	url = https://github.com/sstephenson/bats
[submodule "bats/test_helper/bats-support"]
	path = bats/test_helper/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "bats/test_helper/bats-assert"]
	path = bats/test_helper/bats-assert
	url = https://github.com/ztombol/bats-assert
